/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.3;
}

/* Header styles */
.header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 2rem 0;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-links {
    list-style-type: none;
}

.nav-links li {
    display: inline;
    margin: 0 1rem;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease-in-out;
}

.nav-links a:hover {
    color: #007bff;
}

.intro {
    margin-top: 2rem;
}

/* About section styles */
.about {
    padding: 4rem 0;
    background-color: #f9f9f9;
}

.about-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about img {
    width: 250px;
    border-radius: 50%;
    margin-right: 2rem;
}

.bio {
    flex-grow: 1;
}

/* Skills section styles */

 .skills {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content:space-around;
  padding: 4rem 0;

} 

.parent-skill {
  width: auto;
  height: auto;

  
  
}

.skill {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  box-shadow: 10px 10px 19px #5a5f6a, -10px -10px 19px #5e6368;
  /* background-color: conic-gradient(#f9004d 10%, #212428 0); */
  display: flex;
  align-items: center;
  justify-content: center;
}

.progress {
  width: 97%;
  height: 97%;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  background: linear-gradient(280deg, #31343c, #3a3e43);
  display: flex;
  align-items: center;
  justify-content: center;
}

.progress-number {
  font-family: 'Poppins', sans-serif;
  color: #f9004d;
  font-size: 2rem;
}

.title {
  font-family: 'Poppins', sans-serif;
  color: #f9004d;
  font-size: 1.5rem;
  display: block;
  text-align: center;
  margin-top: 20px;
}

/* .skills {
    padding: 4rem 0;
    text-align: center;
    background-color: #fff;
}

.skills ul {
    list-style-type: none;
    padding: 0;
}

.skills li {
    margin: 0.5rem 0;
} */



/* Projects section styles */
.projects {
    padding: 4rem 0;
    text-align: center;
    background-color: #f9f9f9;
}

article {
    --img-scale: 1.001;
    --title-color: black;
    --link-icon-translate: -20px;
    --link-icon-opacity: 0;
    position: relative;
    border-radius: 16px;
    box-shadow: none;
    background: #fff;
    transform-origin: center;
    transition: all 0.4s ease-in-out;
    overflow: hidden;
  }
  
  /* basic article elements styling */
  article h2 {
    margin: 0 0 18px 0;
    font-size: 1.9rem;
    letter-spacing: 0.06em;
    color: var(--title-color);
    transition: color 0.3s ease-out;
    line-height: 1.0;

  }
  
  figure {
    margin: 0;
    padding: 0;
    aspect-ratio: 14/ 9;
    overflow: hidden;
  }
  
  article img {
    max-width: 100%;
    transform-origin: center;
    transform: scale(var(--img-scale));
    transition: transform 0.4s ease-in-out;
  }
  
  .article-body {
    padding: 30px;
  }
  
  
  /* using the has() relational pseudo selector to update our custom properties */
  article:has(:hover, :focus) {
    --img-scale: 1.1;
    --title-color: #28666e;
    --link-icon-translate: 0;
    --link-icon-opacity: 1;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  }
  
  
  /************************ 
  Generic layout (demo looks)
  **************************/
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  .articles {
    display: grid;
    max-width: 1500px;
    margin-inline: auto;
    padding-inline: 24px;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 24px;
  }
  
  @media screen and (max-width: 960px) {
    article {
      contain: card/inline-size;
    }
    .article-body p {
      display: none;
    }
  }
  
  @container card (min-width: 380px) {
    .article-wrapper {
      display: grid;
      grid-template-columns: 100px 1fr;
      gap: 16px;
    }
    .article-body {
      padding-left: 0;
    }
    figure {
      width: 100%;
      height: 100%;
      overflow: hidden;
    }
    figure img {
      height: 100%;
      aspect-ratio: 1;
      object-fit: cover;
    }
  }
  
  .sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0); 
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; 
    width: 1px;
  }

  
/* Resume section styles */
.resume {
    padding: 4rem 0;
    text-align: center;
    background-color: #fff;
}

.resume a {
    text-decoration: none;
    color: #007bff;
    transition: color 0.3s ease-in-out;
}

.resume a:hover {
    color: #0056b3;
}

/* Contact section styles */
.contact {
    padding: 4rem 0;
    text-align: center;
    background-color: #f9f9f9;
}

/* Footer styles */
.footer {
    text-align: center;
    padding: 1rem 0;
    background-color: #333;
    color: #fff;
}
